<div id="<%= dom_id room %>">
  <p>
    <strong>Room code:</strong>
    <%= room.room_code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= room.description %>
  </p>

  <p>
    <strong>Price per nigth:</strong>
    <%= room.price_per_nigth %>
  </p>

  <p>
    <strong>Hotel:</strong>
    <%= room.hotel_id %>
  </p>

</div>
